* {
  box-sizing: border-box; }

hr {
  height: 1px;
  border: none;
  color: #000;
  background-color: #000;
  width: 98%;
  text-align: center;
  margin: 0 auto; }

.author {
  font-weight: bold;
  font-family: "Anton", sans-serif;
  border-bottom: 4px solid rgba(102, 102, 102, 0.7);
  display: block; }

.page-number {
  margin: 1rem;
  font-weight: bold;
  font-family: "Anton", sans-serif;
  font-size: 1.5rem; }

@media only all and (min-width: 500px) {
  .main-content {
    -webkit-column-count: 2;
    /* Chrome, Safari, Opera */
    -moz-column-count: 2;
    /* Firefox */
    column-count: 2; } }

@media only all and (min-width: 725px) {
  .main-content {
    -webkit-column-count: 3;
    /* Chrome, Safari, Opera */
    -moz-column-count: 3;
    /* Firefox */
    column-count: 3; } }

@media only all and (min-width: 1060px) {
  .main-content {
    -webkit-column-count: 4;
    /* Chrome, Safari, Opera */
    -moz-column-count: 4;
    /* Firefox */
    column-count: 4; } }

.top-row {
  display: flex;
  justify-content: space-between; }
  .top-row .title {
    margin-top: 1vw;
    margin-bottom: 1vw;
    line-height: 95%;
    padding: 3px 0px 0px 3px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 8vw; }

.issue {
  font-family: "Raleway", sans-serif;
  font-size: 2vw;
  color: #ffff66;
  padding-left: 3px;
  margin-top: 0px; }
  .issue .donation {
    font-size: 1.5vw; }

.cover-body {
  font-family: "Anton", sans-serif;
  color: white;
  padding-bottom: 50px;
  padding: 2vw 1vw;
  text-transform: uppercase;
  height: 100%; }

.cover-main {
  background-attachment: fixed;
  background-image: linear-gradient(rgba(255, 0, 0, 0.7), rgba(255, 0, 0, 0.3)), url("../static/teachers-striking.png");
  background-size: cover;
  background-repeat: no-repeat; }

.sub-coverstory {
  background-image: linear-gradient(rgba(63, 224, 208, 0.7), rgba(63, 224, 208, 0.7));
  font-weight: lighter;
  font-family: "Open Sans", sans-serif;
  font-size: 5vw;
  color: rgba(255, 255, 255, 0.8);
  padding-left: 1em;
  transform: rotate(-7deg);
  margin-top: 20px; }
  .sub-coverstory:hover {
    color: yellow; }

.coverstory {
  text-align: right;
  color: rgba(255, 255, 255, 0.8);
  font-size: 15vw;
  line-height: 15vw;
  margin-top: 40px;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  /* text-align: center; */
  letter-spacing: 1vw;
  padding-right: 7px;
  text-shadow: 0.5vw 0.5vw pink; }

.footer-container {
  display: flex;
  justify-content: space-between;
  background: white;
  align-items: start;
  padding-bottom: 3vw; }
  .footer-container .footer-left,
  .footer-container .footer-right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(63, 224, 208, 0.7);
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-size: 4vw;
    padding-left: 3vw;
    padding-right: 3vw;
    width: 49%;
    height: 24vw; }
  .footer-container .footer-left {
    color: rgba(102, 102, 102, 0.7); }
    .footer-container .footer-left > li {
      color: rgba(102, 102, 102, 0.7);
      list-style: none; }
      .footer-container .footer-left > li:hover {
        color: rgba(255, 255, 102, 0.7);
        cursor: pointer; }
    .footer-container .footer-left .table-contents {
      margin-bottom: 0;
      margin-top: 0;
      font-weight: lighter;
      color: rgba(255, 255, 255, 0.8); }
    .footer-container .footer-left .content {
      list-style: none;
      font-size: 3vw; }
  .footer-container .footer-right .subscription-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .footer-container .footer-right .subscription-form .form-label {
      align-self: center;
      font-size: 4vw; }
    .footer-container .footer-right .subscription-form .data-email {
      border: 2px solid white;
      height: 4vw;
      color: rgba(102, 102, 102, 0.7);
      text-align: center;
      font-size: 3vw;
      margin-bottom: 2vw;
      width: 90%; }
    .footer-container .footer-right .subscription-form .submit-button {
      font-family: "Anton", sans-serif;
      color: white;
      text-transform: uppercase;
      font-size: 4vw;
      border: none;
      font-weight: lighter;
      width: 90%;
      display: block;
      bottom: 2vw; }
      .footer-container .footer-right .subscription-form .submit-button:hover {
        color: rgba(255, 255, 102, 0.7); }

.header {
  margin-bottom: 1rem; }
  .header .top-span {
    font-family: "Raleway", sans-serif;
    color: rgba(102, 102, 102, 0.7);
    background-color: #d1d3d4;
    font-size: 1rem;
    text-transform: uppercase;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid rgba(102, 102, 102, 0.7); }
  .header .heading {
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem; }
  .header .sub-heading {
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgba(102, 102, 102, 0.7); }

.main-content {
  margin-bottom: 2rem; }

.paragraph {
  display: inline; }

.article-sub-section {
  font-weight: bold;
  display: block;
  margin-top: 1.5vw; }

footer {
  border-top: 3px solid rgba(102, 102, 102, 0.7); }
