@import "../../modules/all";

* {
  box-sizing: border-box;
}

body {
  font-family: $main;
  color: white;
  padding-bottom: 50px;
  padding: 2vw 1vw;
  text-transform: uppercase;
  height: 100%;
}

hr {
  height: 1px;
  border: none;
  color: #000;
  background-color: #000;
  width: 98%;
  text-align: center;
  margin: 0 auto;
}

main {
  background-attachment: fixed;
  background-image: linear-gradient(rgba(255, 0, 0, 0.7), rgba(255, 0, 0, 0.3)),
    url("../static/teachers-striking.png");
  @include responsiveBgImage;
}
