.cover-body {
  font-family: $main;
  color: white;
  padding-bottom: 50px;
  padding: 2vw 1vw;
  text-transform: uppercase;
  height: 100%;

  &-main {
    background-attachment: fixed;
    background-image: linear-gradient(
        rgba(255, 0, 0, 0.7),
        rgba(255, 0, 0, 0.3)
      ),
      url("../static/teachers-striking.png");
    @include responsiveBgImage;
  }
}

.sub-coverstory {
  background-image: linear-gradient(
    rgba(63, 224, 208, 0.7),
    rgba(63, 224, 208, 0.7)
  );
  font-weight: lighter;
  font-family: "Open Sans", sans-serif;
  font-size: 5vw;
  color: rgba(255, 255, 255, 0.8);
  padding-left: 1em;
  transform: rotate(-7deg);
  margin-top: 20px;
  &:hover {
    color: yellow;
  }

.coverstory {
  text-align: right;
  color: $white-alpha;
  font-size: 15vw;
  line-height: 15vw;
  margin-top: 40px;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  /* text-align: center; */
  letter-spacing: 1vw;
  padding-right: 7px;
  text-shadow: 0.5vw 0.5vw pink;
}
