header {
  .image-container {
    border: 1px solid $charcoal-alpha;
    .cam {
      position: fixed;
      color: $charcoal-alpha;
      width: 3rem;
      font-size: 3rem;
      top: 15%;
      right: 2%;
      transition: opacity 0.4s;
      &:hover {
        color: $turquoise-alpha;
        cursor: pointer;
      }
    }
  }

  margin-bottom: 1rem;
  // display: flex;
  .top-span {
    font-family: $issue;
    color: $charcoal-alpha;
    background-color: #d1d3d4;
    font-size: 1rem;
    text-transform: uppercase;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 4px solid $charcoal-alpha;

    .fa-arrow-alt-circle-left,
    .fa-arrow-alt-circle-right {
      font-size: 1.5rem;
      transition: color 0.3s;
      &:hover {
        color: $white-alpha;
      }
    }
  }

  .heading {
    font-family: $issue;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  .sub-heading {
    font-family: $issue;
    font-size: 1.5rem;
    font-weight: bold;
    color: $charcoal-alpha;
  }
}
