@import "../modules/all";

* {
  box-sizing: border-box;
}

hr {
  height: 1px;
  border: none;
  color: #000;
  background-color: #000;
  width: 98%;
  text-align: center;
  margin: 0 auto;
}

.author {
  font-weight: bold;
  font-family: $main;
  border-bottom: 4px solid $charcoal-alpha;
  display: block;
}

.page-number {
  margin: 1rem;
  font-weight: bold;
  font-family: $main;
  font-size: 1.5rem;
}

// media queries
@media only all and (min-width: 500px) {
  .main-content {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
  }
}

@media only all and (min-width: 725px) {
  .main-content {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
  }
}

@media only all and (min-width: 1060px) {
  .main-content {
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
  }
}
